.jumbotron{
    background: url(images/night-of-living-dead-farmhouse-siege.jpg) top center;
    background-size: cover;
     height:600px;
     text-align: center;
    color: rgba(247, 11, 23, 0.767);
    
    padding-top: 10em;
    padding-bottom: 3em;

}

h2{
    font-size: 100px;
    
}

img {
    background-size: cover;
    margin: 
}

body{
    background-color: black;
}

h4 {
    color: crimson;
    padding-bottom: 3em;
    padding-top: 1em;-webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-align: center;
}

p{
    color: crimson;
    padding-bottom: 3em;
    padding-top: 1em;
    text-align: center;
    
}

a{
    color: crimson;
    /* padding-left: 35em; */
    
}

.navbar{
    padding: 1em;
    
} 
.navbar li {
    float: none;
    position: absolute;
    right: 45%;
    }
.mb-4 {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }